#components-layout-demo-top-side-2{
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

#logo{
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px -200px;
    float: left;
}
  .site-layout-background {
    background-image: url("../images/mainT.png");
    padding: 24;
    min-height: "100%"
  }

  .shuishen{
    background-image: url("https://s4.aconvert.com/convert/p3r68-cdx67/atqy7-ptegm.jpg");
  }
  .zuankong{
    background-image: url("../images/zuankong.jpg");
  }
  .xianchang{
    background-image: url("../images/xianchang.jpg");

  }